<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimasi Investasi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    {% if investment_in_shares is none %}
    <div class="container mt-5">
        <h1 class="text-center display-5">Optimasi Investasi</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="pool" class="form-label">Total Investment Pool ($):</label>
                <input type="number" id="pool" name="pool" class="form-control" required>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}

    {% if investment_in_shares is not none %}
    <div class="container mt-5">
        <h1 class="text-center display-5">Hasil Optimasi Investasi</h1>
        <ul class="list-group">
            <li class="list-group-item">Investasi di Saham: ${{ investment_in_shares }}</li>
            <li class="list-group-item">Investasi di Obligasi: ${{ investment_in_bonds }}</li>
            <li class="list-group-item">Investasi di Properti: ${{ investment_in_property }}</li>
            <li class="list-group-item">Estimasi Profit: ${{ profit }}</li>
        </ul>
        <a href="/" class="btn btn-success mt-3">Reset</a>
    </div>
    {% endif %}
</body>
